#navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #20948B;
}

#brand {
    display: flex;
    align-items: center;
}

#brand-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#brand-text {
    margin-left: 10px;
    font-size: 25px;
    color: #ffffff;
}

.nav {
    display: none;
    align-items: center;
}

.nav > a {
    color: #d8d8d8;
    text-decoration: none;
    margin: 0px 20px;
}

.nav > a:hover {
    color: #ffffff;
}