#story-container {
    width: 300px;
    height: 400px;
    background-color: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info {
    display: flex;
    justify-content: space-between;
}

#content, #reactions {
    display: flex;
    justify-content: center;
}

#reactions {
}